<div class="items-start self-stretch flex flex-col mt-12 max-md:max-w-full">
    <div class="items-start flex w-[666px] max-w-full flex-col">
      <div class="text-slate-500 text-2xl font-bold tracking-tight">
        Collections
      </div>
      <div
        class=" text-slate-500 text-lg leading-[155.56%] w-full mt-2 max-md:max-w-full"
      >
        Collections / Map of Concept are notes, which might work as a starting
        point
      </div>
    </div>
    <div
      class="grid grid-cols-3 gap-4     mt-8"
    >
      <div class="items-start self-stretch flex flex-col">
        <div class="items-start self-stretch flex justify-between gap-2">
          <div
            class="
              text-slate-500 text-base
              font-medium
              leading-[150%]
              self-stretch
              w-[214px]"
          >
            Movies
          </div>
        </div>
      </div>
      <div class="items-start self-stretch flex flex-col">
        <div class="items-start self-stretch flex justify-between gap-2">
          <div
            class="
              text-slate-500 text-base
              font-medium
              leading-[150%]
              self-stretch
              w-[214px]"
          >
            Coffee
          </div>
        </div>
      </div>
      <div class="items-start self-stretch flex flex-col">
        <div class="items-start self-stretch flex justify-between gap-2">
          <div
            class="
              text-slate-500 text-base
              font-medium
              leading-[150%]
              self-stretch
              w-[214px]"
          >
            Knowledge
          </div>
        </div>
      </div>
        <div class="items-start self-stretch flex flex-col">
        <div class="items-start self-stretch flex justify-between gap-2">
          <div
            class="
              text-slate-500 text-base
              font-medium
              leading-[150%]
              self-stretch
              w-[214px]"
          >
            Tools
          </div>
        </div>
      </div>
      <div class="items-start self-stretch flex flex-col">
        <div class="items-start self-stretch flex justify-between gap-2">
          <div
            class="
              text-slate-500 text-base
              font-medium
              leading-[150%]
              self-stretch
              w-[214px]"
          >
            Web Founds
          </div>
        </div>
      </div>
    </div>
  </div>
  