<div class="home-intro">
    <h5 class="meta-title">Hello, I'm Hiran Venugopalan ⸻</h5>
    <div class="jumbo">I work on scaling and simplifying design experience. </div>
    <div class="home-sub-text"> <h3>
            Currently leading designs at <a href="https://kaleyra.com/" target="_blank">Kaleyra</a>. My <a href="{{ site.baseurl }}/notes">working notes</a> are public, resources are <a href="{{ site.baseurl }}/lists">listed</a>, and I send <a href="https://hiran.substack.com/" target="_blank">this and that</a> to your inbox.
    </h3> 
</div> </div>
    <div class="home-wrapper">
        <div class ="home-image">
            <img src="..{{ site.baseurl }}/assets/img/BoldCMS-Product.png">
            <div class="home-image-meta">
                <div class="home-image-meta-text"> Bold CMS</div>
                <div class="home-image-meta-text"> Product • 2019</div>
            </div>
        </div>
        <div class ="home-image">
            <img src="..{{ site.baseurl }}/assets/img/EHQ-Product.png">
            <div class="home-image-meta">
                <div class="home-image-meta-text"> Engagement HQ</div>
                <div class="home-image-meta-text"> Product • 2015</div>
            </div>
        </div>
        <div class ="home-image">
            <img src="{{ site.baseurl }}/assets/img/Dyuthi-Typeface.png">
            <div class="home-image-meta">
                <div class="home-image-meta-text"> Dyuthi Malayalam Font</div>
                <div class="home-image-meta-text"> Typeface • 2007</div>
            </div>
        </div>
        <div class ="home-image">
            <img src="..{{ site.baseurl }}/assets/img/Rufscript-Typeface.png">
            <div class="home-image-meta">
                <div class="home-image-meta-text"> Rufscript Font</div>
                <div class="home-image-meta-text"> Typeface • 2006</div>
            </div>
        </div>
    </div>
<div class="home-intro">
    <div class="home-sub-text">
        <h3>I mentor designers and teams on design, strategy and knowledge management. Book slots via <a href="https://adplist.org/mentors/hiran-venugopalan" target="_blank">ADPList</a>, <a href="https://mentorcruise.com/mentor/hiranvenugopalan/" target="_blank">MentorCruise</a>, or Get in touch.</h3></div>
        <h3 style="padding-top: 2rem;"><a href=mailto:hiran.v@gmail.com>hiran.v@gmail.com</a></h3>
</div>   