
<div
  class="
    items-start
    self-stretch
    flex
    grow
    flex-col
    mt-12
    pr-5
    pb-2
    max-md:max-w-full
  "
>
  <div class="text-slate-500 text-2xl font-bold tracking-tight">All Notes</div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[350px]
      max-w-full
      mt-6
    "
  >
    How to write content about your photographs
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[454px]
      max-w-full
      mt-6
      max-md:max-w-full
    "
  >
    How to choose the right customer for your photo business?
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[383px]
      max-w-full
      mt-6
    "
  >
    Travelling as a way of self-discovery and progress
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[435px]
      max-w-full
      mt-6
      max-md:max-w-full
    "
  >
    How to choose the right colors when creating a website?
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[302px]
      max-w-full
      mt-6
    "
  >
    Start a blog to reach your creative peak
  </div>
  <div class="items-start flex w-[406px] max-w-full flex-col mt-6">
    <div class="items-start self-stretch flex justify-between gap-4">
      <div
        class="
          text-red-500 text-base
          font-medium
          leading-[150%]
          max-w-[402px]
          self-stretch
          grow
          shrink-0
          basis-auto
        "
      >
        How to build a loyal community online and offline
      </div>
      <div
        class="text-red-500 text-base font-medium leading-[150%] self-stretch"
      >
        →
      </div>
    </div>
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[366px]
      max-w-full
      mt-6
    "
  >
    Lessons and insights from 8 years of Pixelgrade
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[383px]
      max-w-full
      mt-6
    "
  >
    Travelling as a way of self-discovery and progress
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[316px]
      max-w-full
      mt-6
    "
  >
    How to design your site footer like we did
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[443px]
      max-w-full
      mt-6
      max-md:max-w-full
    "
  >
    Why choose a theme that looks good with WooCommerce
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[558px]
      max-w-full
      mt-6
      max-md:max-w-full
    "
  >
    How to optimize images in WordPress for faster loading (complete guide)
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[454px]
      max-w-full
      mt-6
      max-md:max-w-full
    "
  >
    How to choose the right customer for your photo business?
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[302px]
      max-w-full
      mt-6
    "
  >
    Start a blog to reach your creative peak
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[297px]
      max-w-full
      mt-6
    "
  >
    Starting your traveling blog with Vasco
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[375px]
      max-w-full
      mt-6
    "
  >
    How does writing influence your personal brand?
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[532px]
      max-w-full
      mt-6
      max-md:max-w-full
    "
  >
    Where to grow your business as a photographer: site or social media?
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[558px]
      max-w-full
      mt-6
      max-md:max-w-full
    "
  >
    How to optimize images in WordPress for faster loading (complete guide)
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[214px]
      max-w-full
      mt-6
    "
  >
    Caring is the new marketing
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[375px]
      max-w-full
      mt-6
    "
  >
    How does writing influence your personal brand?
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[293px]
      max-w-full
      mt-6
    "
  >
    Helping a local business reinvent itself
  </div>
  <div
    class="
      text-slate-500 text-base
      font-medium
      leading-[150%]
      items-start
      w-[380px]
      max-w-full
      mt-6
    "
  >
    The unseen of spending three years at Pixelgrade
  </div>
</div>